MONGODB_URI=mongodb://localhost:27017/nexstay
PORT=5000
JWT_SECRET=nexstay_jwt_super_secret_key_change_in_production
JWT_REFRESH_SECRET=nexstay_refresh_super_secret_key_change_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
NODE_ENV=development
